body {
    background: black;
}

.col-left {
    width: 10%;
    height: 100%;
    float: left;
    position: static;
}

.col-right {
    width: 10%;
    height: 100%;
}

.container {
    width: 80%;
    height: 80%;
    padding: 5px;
    margin: 5px;
}

.banner {
    position: fixed;
    overflow: visible;
    display: inline;
    background: red;
    border-radius: 5px;
    height: 120px;
    width: 80%;
    text-align: justify;
}

.logo {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.header {
    margin: 5px;
    padding: 10px;
    display: inline-flex;
    list-style: none;
    float: left;
}

.a1 {
    background: green;
    align-content: center;
    vertical-align: middle;
}

.b1 {
    float: left;
    width: 10%;
}

.b2 {
    float: left;
    width: 80%;
}

.b3 {
    float: left;
    width: 10%;

}
